@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-color: #0095FF;
  --secondary-color: #ff0808;
  --third-color: #0651B9;
}

.report-container {
  max-width: 60%;
  margin: 9rem auto;
  padding-bottom: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  display: none;
  }

.table-users {
  width: 95%;
  margin: 2rem auto;
  border: none;
  border-collapse: collapse;
}

.table-users th,
.table-users td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: .5rem;
  
}

.table-users th {
  background: #fafafa;
  padding: 1rem auto;
}

.btn {
  background: transparent;
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all .5s ease;
  margin: 0 0.4rem;
}

.btnBlock{

  padding: 0.3rem;
}
.btn-download, .btn-close {
  color: #fff;
  background-color: var(--third-color);
  border: 1px solid var(--third-color);
}

.btn-download:hover {
  background: #014473;
  color: #fff;
}

.btn-delete {
  color: #fff;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn-delete:hover {
  background:#bb0f0f;
  color: #fff;
}

.table-wrapper {
  text-align: center;
  height: 100%;

}


.btnLogin {
  background: transparent;
  width: 60%;
  height: 2rem;
  margin: 3rem 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all .5s ease;
  background: var(--third-color);
  border: none;
  color: #fff;
  font-size: 18px;
}

.login-modal {
  position: relative;
  background: #fff;
  text-align: center;
  width: 18rem;
  height: 18rem;
  margin: 9rem auto;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  display: none;
  ;
}


.reports-caption {
  margin: 0.4rem 1rem;
  }

.reports-caption h3{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.report-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  background: #0095FF;
  padding: 1.2rem;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.login-header {
  margin-bottom: 1rem;
  text-align: center;
  background: #0095FF;
  padding: 1rem;
    color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.login-header h3{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.modal-show {
  display: block;
}

.modal-body {
  padding: 1rem 1.2rem;
}

.checkbox {
  width: 90%;
  height: 1rem;
  margin-bottom: 0rem;
}

input {
  width: 90%;
  height: 2rem;
  margin-bottom: 0.7rem;
  text-indent: 14px;
  border-radius: 25px;
  outline: none;
  border: 0.04px solid;
    /* padding: 0; */
    font-size: 16px;
}


.modal-dialog{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #f8f7f7;
  margin: auto;
  height: 8rem;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 25rem;
}

.modal-content p {
  text-align: center;
  padding: 0.5rem;
}

.btnDlgBlock {
  text-align: center;
  padding: 1.2rem;
}